[advice]
detachedHead = false
statusHints = false

[alias]
co       = checkout
cdiff    = diff --cached
cat      = !git --no-pager show
hash     = !git --no-pager show -s --format=%h
numstat  = !git --no-pager diff --cached --numstat
purge    = clean -dX
pushme   = !git push --set-upstream origin "$(git rev-parse --abbrev-ref HEAD)"
revno    = rev-list --count HEAD
svnstat  = !git --no-pager diff --name-status --cached
timeline = log --graph --pretty=timeline --date=short-local
tsline   = log --graph --pretty=timeline --date=format-local:%H:%M:%S
unadd    = reset
uncommit = reset --soft HEAD^

[clean]
requireForce = false

[core]
ignorecase = false

[diff]
renames = true
wsErrorHighlight = all

[fetch]
prune = true

[gc]
pruneExpire = 7.days.ago
reflogexpire = 7
reflogexpireunreachable = 7

[grep]
patternType = perl

[init]
defaultBranch = main

[log]
abbrevCommit = true
date = format-local:%Y %b %d %H:%M:%S %z
follow = true

[merge]
tool = vimdiff

[pager]
branch = false
show-branch = true
tag = false

[pretty]
timeline = format:%C(auto)%h [%ad]%d %s

[pull]
rebase = true

[push]
default = simple

[rebase]
autoStash = true

[stash]
showPatch = true
showStat = false

[tag]
sort = creatordate

[url "ssh://jwodder@meta.freeshell.org/arpa/gm/j/jwodder/"]
# Yes, the trailing slash is very necessary.
insteadOf = sdf:

[user]
name = John T. Wodder II
email = git@varonathe.org
signingkey = 793721A3
